[Desktop Entry]
Type=Application
Name=PyCharm Community Edition
Icon=/snap/pycharm-community/current/bin/pycharm.png
Exec=pycharm-community
Categories=Development;IDE;
Terminal=false
