#!/usr/bin/env xdg-open

[Desktop Entry]
Version=3.4
Type=Application
Name=Pycharm3
Icon=/snap/pycharm-community/current/bin/pycharm.png
Exec="/snap/pycharm-community/current/bin/pycharm.sh" %f
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
Name[en_US]=PyCharm Community Edition
